# Note:
# To effectively apply the changes you will have
# to re-index the git index (if there are already
# commited files)
#
# $ git rm -r -f --cached .
# $ git add .
# $ git commit -m ".gitignore index rebuild"
#


######################################
# CUSTOM
######################################

# Ignore variable data
/backups/*

# Ignore Data dirs
/data/www/*

# Ignore Certificate Authority
/ca/*

# Ignore logs
/log/apache-2.2/*
/log/apache-2.4/*
/log/mariadb-10.3/*
/log/nginx-mainline/*
/log/nginx-stable/*
/log/php-fpm-5.2/*
/log/php-fpm-5.3/*
/log/php-fpm-5.4/*
/log/php-fpm-5.5/*
/log/php-fpm-5.6/*
/log/php-fpm-7.0/*
/log/php-fpm-7.1/*
/log/php-fpm-7.2/*
/log/php-fpm-7.3/*
/log/php-fpm-7.4/*
/log/php-fpm-8.0/*
/log/php-fpm-8.1/*
/log/php-fpm-8.2/*
!/log/.keepme
!/log/*/.keepme

# Ignore documentation sphinx build
/docs/_build/
/docs/make.bat
/docs/linkcheck
/docs/venv
*.rst.todo

# Ignore vhost-gen files in test dir (copied on the fly)
/.tests/tmp/*
/.tests/www/*
!/.tests/www/modules
!/.tests/www/rproxy/js/index.js

# Keep folders
!.keepme


######################################
# GENERIC
######################################

###### std ######
.lock

###### patches/diffs ######
*.patch
*.diff
*.orig
*.rej


######################################
# Operating Systems
######################################

###### OSX ######
._*
.DS*
.Spotlight-V100
.Trashes

###### Windows ######
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
*.shortcut

######################################
# Editors
######################################

###### Sublime ######
*.sublime-workspace
*.sublime-project

###### Eclipse ######
.classpath
.buildpath
.project
.settings/

###### Netbeans ######
/nbproject/

###### Intellij IDE ######
.idea/
.idea_modules/

###### vim ######
*.swp
*.swo
*.swn
*.swm
*~

###### TextMate ######
.tm_properties
*.tmproj

###### BBEdit ######
*.bbprojectd
*.bbproject

###### VS Code ######
/.vscode
