language: bash
dist: trusty
sudo: required


###
### Attach services
###
services:
  - docker


###
### Global variables
###
env:
  matrix:
    # Test httpd
    - SERVER=httpd VERSION=apache-2.2
    - SERVER=httpd VERSION=apache-2.4
    - SERVER=httpd VERSION=nginx-stable
    - SERVER=httpd VERSION=nginx-mainline
    # Test mysql
    - SERVER=mysql VERSION=mysql-5.5
    - SERVER=mysql VERSION=mysql-5.6
    - SERVER=mysql VERSION=mysql-5.7
    - SERVER=mysql VERSION=mariadb-5.5
    - SERVER=mysql VERSION=mariadb-10.0
    - SERVER=mysql VERSION=mariadb-10.1
    - SERVER=mysql VERSION=mariadb-10.2
    # Test pgsql
    - SERVER=pgsql VERSION=9.2
    - SERVER=pgsql VERSION=9.3
    - SERVER=pgsql VERSION=9.4
    - SERVER=pgsql VERSION=9.5
    - SERVER=pgsql VERSION=9.6
    # Test php
    - SERVER=php VERSION=php-fpm-5.4
    - SERVER=php VERSION=php-fpm-5.5
    - SERVER=php VERSION=php-fpm-5.6
    - SERVER=php VERSION=php-fpm-7.0
    - SERVER=php VERSION=php-fpm-7.1
    - SERVER=php VERSION=hhvm-latest


###
### Berfore Install
###
before_install:
  # List versions
  - docker version
  - docker-compose version
  - whoami
  - groups
  - uname -a


before_script:

  # Disable services enabled by default
  # http://docs.travis-ci.com/user/database-setup/#MySQL
  - sudo /etc/init.d/mysql stop
  - sudo /etc/init.d/postgresql stop


###
### Test
###
script:
  - .tests/test_single.sh . "${SERVER}" "${VERSION}"
