/************************************************************
 * MENU
 ***********************************************************/

/* overwrite logo dimensions */
.wy-side-nav-search>a img.logo,
.wy-side-nav-search .wy-dropdown>a img.logo {
	width: 128px;
}

/* overwrite top-left serach div */
.wy-side-nav-search {
	background-color: #343131;
}

/* sidebar category headlines */
.wy-menu-vertical header, .wy-menu-vertical p.caption {
	margin-top: 25px;
	margin-bottom: 15px;
	padding: 0 1.518em;
	padding-top:10px;
	border-top: 1px solid #9b9b9b;
	font-size: 100%;
}


/************************************************************
 * Code blocks
 ***********************************************************/

/* Disable annoying scrollbar in code-blocks */
.codeblock,
pre.literal-block,
.rst-content .literal-block,
.rst-content pre.literal-block,
.rst-content div[class^='highlight'],
div[class^='highlight'] {
	overflow: hidden !important;
}
/* bg color for code windows */
.highlight {
	background-color: #ffffff !important;
}
.rst-content .code-block-caption {
	text-align: left !important;
}
/*
div.rtd-pro.rtd-pro-footer {
	display: none;
}
*/
