/* Bootstrap overwrites
-------------------------------------------------- */
html, body {
    font-size: 14px;
}



/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}
body {
	/* Margin bottom by footer height */
	margin-bottom: 80px;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
}


/* Generics
-------------------------------------------------- */
.font-small {
    font-size: 12px;
}



/* Circle Box
-------------------------------------------------- */

.circles{
    margin:0px auto;
}
.circles > div {
    overflow:hidden;
    float:left;
    width:auto;
    height:auto;
    position: relative;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -khtml-border-radius: 50%;
    background:#eee;
}

.circles > div > div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.circles > div > div > div {
    display: table;
    width: 100%;
    height: 100%;
}
.circles > div > div > div > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

@media (max-width: 320px)
{
    .circles > div {padding: 50%;}
}

@media (min-width: 321px) and (max-width: 800px)
{
    .circles > div {padding: 50%;}
}

@media (min-width: 801px)
{
    .circles > div {padding: 48%;}
}



/* Overwrites for PHPinfo();
-------------------------------------------------- */
a.navbar-brand {
	background-color: transparent !important;
}
a.nav-link {
    background-color: transparent !important;
}
img.d-inline-block {
    float: none;
}
nav.navbar {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #373a3c;
    background-color: #fff;
}




/* mail.php;
-------------------------------------------------- */
tr.subject {
    cursor: pointer;
}

td.break-word {
    word-break: break-word;
}

